application:
    errorPresenter: Error
    mapping:
        *: App\Presenters\*Presenter

security:
    authentication:
        storage: cookie
        expiration: 14 days
        persistIdentity: true
        cookieName: fotbaltesty_auth
        cookieSamesite: Lax

database:
    dsn: %databaseDsn%
    user: %databaseUser%
    password: %databasePassword%
    options: %databaseOptions%

services:
    router: App\Router\RouterFactory::createRouter
    - App\Model\UserAuthenticator
    - App\Model\QuestionRepository
    - App\Model\TestRepository
